@import 'tailwindcss';

.borel {
  font-family: "Borel", serif;
  font-weight: 400;
  font-style: normal;
}

.zain {
  font-family: "Zain", serif;
  font-style: normal;
  font-weight: 400;
}

.zain-light {
  font-family: "Zain", serif;
  font-style: normal;
  font-weight: 300;
}

.pink {
  color: #ffb1d4;
}
.dark-pink {
  color: #430f39 ;
}
.logo {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.logo.boolean {
  -webkit-mask-image: url('https://storage.ucarolina.edu.mx/cdn/Boolean-Logo.svg');
  mask-image: url('https://storage.ucarolina.edu.mx/cdn/Boolean-Logo.svg');
}
.logo.uca {
  -webkit-mask-image: url('https://storage.ucarolina.edu.mx/cdn/LogoSmWhite.svg');
  mask-image: url('https://storage.ucarolina.edu.mx/cdn/LogoSmWhite.svg');
}
